@*@model EchangeProfesseursEtudiantsApp.Models.Group*@
@model EchangeProfesseursEtudiantsApp.ViewModel.GroupViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Groups.FirstOrDefault().Id" />
            <div class="form-group">
                <label asp-for="Groups.FirstOrDefault().Name" class="control-label"></label>
                <input asp-for="Groups.FirstOrDefault().Name" class="form-control" />
                @*<span asp-validation-for="Groups.FirstOrDefault().Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Groups.FirstOrDefault().Description" class="control-label"></label>
                <input asp-for="Groups.FirstOrDefault().Description" class="form-control" />
                @*<span asp-validation-for="Groups.FirstOrDefault().Description" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Groups.FirstOrDefault().applicationuser.Email" class="control-label"></label>
                <input asp-for="Groups.FirstOrDefault().applicationuser.Email" class="form-control" />
                @*<span asp-validation-for="Groups.FirstOrDefault().Description" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
