@model EchangeProfesseursEtudiantsApp.ViewModel.ElementViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Student to group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="applicationusers.FirstOrDefault().Email" class="control-label"></label>
                <input asp-for="applicationusers.FirstOrDefault().Email" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="elements.FirstOrDefault().Nameelement" class="control-label"></label>
                <input asp-for="elements.FirstOrDefault().Nameelement" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="elements.FirstOrDefault().Descriptionelement" class="control-label"></label>
                <input asp-for="elements.FirstOrDefault().Descriptionelement" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="elements.FirstOrDefault().Coefficientelement" class="control-label"></label>
                <input asp-for="elements.FirstOrDefault().Coefficientelement" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="modules.FirstOrDefault().Idmodule" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>
            

            @*<div class="col-4">@Html.DropDownList("receiver",Model.applicationuser.Email.ToArray(), "All")</div>*@

            @*<div class="form-floating">
                <select asp-for="applicationuser" asp-items="@Model.applicationuser.Firstname.ToString()" class="form-select" aria-required="true">

                    <option disabled selected>Select Role</option>

                </select>
                <span asp-validation-for="" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
